extends HTTPRequest

# coding: utf-8

{{>partial_header}}

export(String) var private_key
export(String) var game_id
export(String) var base_url
export(bool) var ssl_validate_domain
export(bool) var validate

var username_cache
var token_cache
var request_type

var busy = false

{{#imports}}
preload("../Models/{{import}}.gd")
{{/imports}}
var unirest = preload("../unirest.gd")

{{#operations}}
{{#operation}}
"""{{#summary}}{{{.}}}{{/summary}}{{^summary}}{{operationId}}{{/summary}}

{{#notes}}
{{{notes}}}
{{/notes}}
{{#allParams}}
:param {{dataType}} {{paramName}}:{{#description}} {{{description}}}{{/description}}{{#required}} (required){{/required}}{{#optional}}(optional){{/optional}}
{{/allParams}}
"""

func {{operationId}}({{#sortParamsByRequiredFlag}}{{#allParams}}{{#required}}{{dataType}} {{paramName}}, {{/required}}{{#optional}}{{dataType}} {{paramName}} = null{{/optional}}{{/allParams}}{{/sortParamsByRequiredFlag}} header = {}, auth = null, callback = null):
    var params : String = {}
    {{#bodyParams}}
    params = JSON.print({{paramName}}.dict){{#hasMore}}, {{/hasMore}}
    {{/bodyParams}}
    unirest.{{#lambda.lowercase}}{{httpMethod}}{{/lambda.lowercase}}(base_url + "{{path}}", params, header, auth, callback)

{{/operation}}
{{/operations}}
