{{#models}}
{{#model}}
extends Reference
class_name {{classname}}

{{#vars}}var {{name}}{{#hasMore}}
{{/hasMore}}{{/vars}}

func get_array():
    return [ {{#vars}}{{name}}{{#hasMore}}, {{/hasMore}}{{/vars}} ]

func get_dict():
    return { {{#vars}}"{{name}}": {{name}}{{#hasMore}}, {{/hasMore}}{{/vars}} }
{{/model}}
{{/models}}