{{#models}}
{{#model}}
classname {{classname}}
const {{classname}}= [{{#vars}}'{{name}}'{{#hasMore}}, {{/hasMore}}{{/vars}}]
const body {{#vars}}{{name}}{{#hasMore}}, {{/hasMore}}{{/vars}}
const array {{#vars}}{{name}}{{#hasMore}}, {{/hasMore}}{{/vars}}
const dict {{#vars}}{{name}}={{name}}{{#hasMore}}, {{/hasMore}}{{/vars}}
{{/model}}
{{/models}}
